@charset "utf-8";

/* goods, admin/goods */
/* index */
.goods-container {
    border: 2px solid #555555;
    border-radius: 10px;
    display: flex;
    flex: 0 1 50%;
    margin: 10px 0;
    padding: 15px;
}

.goods-new {
    margin-bottom: 10px;
}

.goods-img-container {
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 25vh;
}

.goods-img-container-cms {
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

.goods-img {
    max-width: 100%;
    max-height: 100%;
}

.goods-body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.goods-body p {
    margin: 0;
}

.goods-body p a {
    color: #333333;
    font-size: 32px;
}

.goods-body p a:hover {
    color: #aa0000;
    text-decoration: none;
}

.goods-price::before {
    color: #333333;
    content: "価格: ";
}

.goods-price {
    color: #cc0000;
    font-size: 26px;
}

.goods-action {
    display: flex;
    justify-content: space-around;
}

/* show */
.item-head {
    border-bottom: 3px solid #999999;
}

.item-container {
    display: flex;
}

.detail-container {
    width: 50%;
    padding: 0 20px;
}

.img-container {
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50vh;
}

.item-img {
    max-width: 100%;
    max-height: 100%;
}

.item-price {
    display: flex;
    flex-direction: column;
}
/*
.item-price p {
    color: #cc0000;

    margin-top: 8px;
}*/

.item-price p:nth-of-type(1) {
    border-bottom: 1px dashed black;
    font-size: 18px;
}

.item-price p:nth-of-type(2)::before {
    color: #333333;
    content: "価格: ";
}

.item-price p:nth-of-type(2) {
    color: #cc0000;
    font-size: 30px;
}

.item-body {
    padding-top: 30px;
}

.item-body h2 {
    border-bottom: 3px double black;
}

.item-body p {
    font-size: 16px;
}
